{% extends 'auth_base.html' %}

{% block content %}

  <div class="container">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-error alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  </div>
    <h2 style="text-align: center;">Sign In</h2>
    <form method="post">
        {% csrf_token %}

        <div class="col-md-12">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        
        <div class="col-md-12">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
          <br/>

          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary col-4">Login</button>
          </div>
          
        <div class="row justify-content-center align-self-end">
          <a href="{% url 'signup' %}" style="color: black; text-align: center;">Sign Up</a>
        </div>
      </form>

{% endblock %}