{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Stock Table</h1>

<div class="col-3">
    {% include 'stock_filter.html' %}
</div>

<div class="col-9">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Tickers</th>
                <th>Tunnel Minimum</th>
                <th>Current Price</th>
                <th>Tunnel Maximum</th>
                <th>Price Check Periodicity</th>
                <th>Tunnel Price</th>
                <th>Cancel Monitoring</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.stock.ticker }}</td>
                <td>{{ stock.min_price }}</td>
                <td>{{ stock.stock.current_price }}</td>
                <td>{{ stock.max_price }}</td>
                <td>{{ stock.periodicity }}</td>
                <td><button onclick="redirectToStockData('{{ stock.stock.ticker }}')">More Data</button></td>
                <td>
                    <form method="post" action="{% url 'delete_user_stock' stock.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function redirectToStockData(ticker) {
        window.location.href = `${ticker}/` + '?interval=5m&period=5d';
    }
</script>

{% endblock %}