<!DOCTYPE html>
<html>
<head>
    <title>Stock Table</title>
</head>
<body>
    <h1>Stock Table</h1>
    {% if user.is_authenticated %}
        <h2>Autenticado</h2>
        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
    {% else %}
        <h2>Não Autenticado! Sai Daqui!!!</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Tickers</th>
                <th>Current Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.current_price }}</td>
                <td><button onclick="redirectToStockData('{{ stock.ticker }}')">More Data</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function redirectToStockData(ticker) {
            window.location.href = `${ticker}/` + '?interval=1m&period=5d';
        }
    </script>
</body>
</html>