{% include 'base.html' %}
<title>{{ ticker }}</title>

<h1>{{ ticker }}</h1>
<br/>

{% include 'stock_chart/price_tunnel_form.html' %}
{% include 'stock_chart/graph_form.html' %}

{% include 'stock_chart/graph.html' %}

<table>
    <thead>
        <tr>
            <th>Datetime</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume (k)</th>
        </tr>
    </thead>
    <tbody>
        {% for data in stock_data %}
        <tr>
            <td>{{ data.Datetime }}</td>
            <td>R$ {{ data.Open }}</td>
            <td>R$ {{ data.High }}</td>
            <td>R$ {{ data.Low }}</td>
            <td>R$ {{ data.Close }}</td>
            <td>{{ data.Volume  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
