<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            <label for="{{ price_tunnel.max_price.id_for_label }}" class="form-label">{{ price_tunnel.max_price.label }}</label>
            {{ price_tunnel.max_price }}
        </div>
        <div class="col-md-3">
            <label for="{{ price_tunnel.min_price.id_for_label }}" class="form-label">{{ price_tunnel.min_price.label }}</label>
            {{ price_tunnel.min_price }}
        </div>
        <div class="col-md-3">
            <label for="{{ price_tunnel.periodicity.id_for_label }}" class="form-label">{{ price_tunnel.periodicity.label }}</label>
            {{ price_tunnel.periodicity }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Define tunnel</button>
    </div>
</form>
<br/>